<div class="account-right-name">Смена пароля</div>
<div class="account-right-form">
    <form action="">
        <label for="">
            <p>Пароль *</p><input type="text">
        </label>
        <label for="">
            <p>Подтвердить *</p><input type="text">
        </label>
        <button class="acoount-submit">ПОДТВЕРДИТЬ</button>
    </form>
</div>