<div class="account-right-name">Список адресов доставки</div>
<div class="addresses-content">
    <div class="addresses-content-table">
        <div class="address-item">
            <div class="address-item-value">
                Иван Иванов<br>
                ул. Киевская, д.5, кв.4 Ликино-Дулево
            </div>
            <div class="address-item-edit">
                <a href="" class="button-edit">Редактировать</a>
                <a href="" class="button-del">Удалить</a>
            </div>
        </div>
        <div class="address-item">
            <div class="address-item-value">
                Иван Иванов<br>
                ул. Киевская, д.5, кв.4 Ликино-Дулево
            </div>
            <div class="address-item-edit">
                <a href="" class="button-edit">Редактировать</a>
                <a href="" class="button-del">Удалить</a>
            </div>
        </div>
    </div>
    <a href="" class="add-address">Новый адрес</a>
</div>