<div class="account-right-name">Список адресов доставки</div>
<div class="addresses-content">
    {% for address_item in addresses %}
        <div class="addresses-content-table">
            <div class="address-item">
                <div class="address-item-value">
                    <strong>{{ address_item.address_title }}</strong><br>
                    {{ address_item.address }}
                </div>
                <div class="address-item-edit">
                    <a href="{{ address_item.edit_address }}" class="button-edit">Редактировать</a>
                    {# <a href="" class="button-del">Удалить</a> #}
                </div>
            </div>
        </div>  
    {% endfor %}

    {# <div class="non-address">Адреса доставки не заданы</div> #}
    <a href="{{site.link}}/my-account/edit-address/shipping/" class="add-address">Новый адрес</a>
</div>