<div class="account-right-name">Основные данные</div>
<div class="account-right-form">
    <form action="">
        <label for="">
            <p>Имя</p><input type="text" placeholder="Иван">
        </label>
        <label for="">
            <p>Фамилия</p><input type="text" placeholder="Иванов">
        </label>
        <label for="">
            <p>E-Mail</p><input type="email" placeholder="ivanov@mail.ru">
        </label>
        <label for="">
            <p>Телефон *</p><input type="phone" placeholder="+7 (000) 000-00-00">
        </label>
        <button class="acoount-submit">ПОДТВЕРДИТЬ</button>
    </form>
</div>