<div class="account-right-name">Уведомления</div>
<div class="account-right-under-name">Мы вас будем уведомлять о мероприятиях</div>
<div class="account-right-form notice">
    <form action="">
        <label class="control control-checkbox">
            SMS уведомление
            <input type="checkbox">
            <div class="control_indicator"></div>
        </label>
        <label class="control control-checkbox">
            E-mail уведомление
            <input type="checkbox">
            <div class="control_indicator"></div>
        </label>
        <button class="acoount-submit">ПОДТВЕРДИТЬ</button>
    </form>
</div>