<div class="overlay" v-on:click="closeModal"></div>

<div class="dialogs">
    <div class="modal-window modal-window--thanks" role="dialog" aria-modal="true">
        <div class="modal-window-container">
            <button class="modal-window__close" v-on:click="closeModal"></button>
            <div class="modal-window__content">
                <div class="thanktext">Заявка отправлена</div>
            </div>
        </div>
    </div>

    <div class="modal-window modal-window--error-checkout" role="dialog" aria-modal="true">
        <div class="modal-window-container">
            <button class="modal-window__close" v-on:click="closeModal"></button>
            <div class="modal-window__content">
                <div class="thanktext">Ошибка при оплате</div>
            </div>
        </div>
    </div>
    
    <div class="modal-window modal-window--callback" role="dialog" aria-modal="true">
        <div class="modal-window-container">
            <button class="modal-window__close" v-on:click="closeModal"></button>
            <div class="modal-window__content">
                <callback-modal></callback-modal>
            </div>
        </div>
    </div>

    <div class="modal-window modal-window--thank" role="dialog" aria-modal="true">
        <div class="modal-window-container">
            <button class="modal-window__close" v-on:click="closeModal"></button>
            <div class="modal-window__content">
                <span class="text-thank">Спасибо за заявку</span>
            </div>
        </div>
    </div>

    <div class="modal-window modal-window--changed" role="dialog" aria-modal="true">
        <div class="modal-window-container">
            <button class="modal-window__close" v-on:click="closeModal"></button>
            <div class="modal-window__content">
                <span class="text-thank">Пароль изменен</span>
            </div>
        </div>
    </div>

</div>