<main class='main-content page cart'>
    <div class="page-header">
        <div class="container">
            <div class="cart-steps">
                <div class="cart-step">Корзина</div>
                <span class="next-step"><img src="{{ site.theme.link }}/assets/images/arrow-r.svg" alt=""></span>
                <div class="cart-step">Оформление заказа</div>
                <span class="next-step"><img src="{{ site.theme.link }}/assets/images/arrow-r.svg" alt=""></span>
                <div class="cart-step active">Заказ оформлен</div>
            </div>
        </div>
    </div>
    <div class="page_thanks-content">
        <div class="container">
            <img class="check-thanks" src="{{ site.theme.link }}/assets/images/thanks_check.svg" alt="">
            <div class="page_thanks-content-title">Спасибо за заказ!</div>
            <div class="page_thanks-content-text">Ваш заказ успешно оформлен. Мы свяжемся с вами в ближайшее время.<br>Номер вашего заказа #{{ order_number }}</div>
        </div>
    </div>
</main>