{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            
            <div class="all-page-title">
                <h1>МЕНЮ ДОСТАВКИ</h1>
                {{ function('woocommerce_breadcrumb') }}
            </div>
        </div>
    </div>
    <div class="new-block-fone-white pad-50">
        <div class="container">
            <div class="delivery-menu_child-content">
                {% if posts is not empty  %}
					{% for post in posts %}
                        {% include "partials/product-item.twig" %}
					{% endfor %}
				{% else %}
					<div class="not-content">Категория пуста</div>
				{% endif %}
			</div>
			{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}