{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            {{ function('woocommerce_breadcrumb') }}
            <div class="all-page-title">
                <h1>МЕНЮ ДОСТАВКИ</h1>
            </div>
        </div>
    </div>
    <div class="delivery-menu_child">
        <div class="container">
            <div class="delivery-menu_child-content">
                {% if posts is not empty  %}
					{% for post in posts %}
                        {% include "partials/product-item.twig" %}
					{% endfor %}
				{% else %}
					<div class="not-content">Категория пуста</div>
				{% endif %}
            </div>
            <div class="pagination-block">
            	<ul class="vue-pagination">
                	<li class="disabled">
                    	<a tabindex="-1">
                        	<span>
                            	<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 511.991 511.991"><path d="M153.433 255.991L381.037 18.033c4.063-4.26 3.917-11.01-.333-15.083-4.229-4.073-10.979-3.896-15.083.333L130.954 248.616c-3.937 4.125-3.937 10.625 0 14.75L365.621 508.7a10.65 10.65 0 007.708 3.292c2.646 0 5.313-.979 7.375-2.958 4.25-4.073 4.396-10.823.333-15.083l-227.604-237.96z"/></svg>
                        	</span>
                    	</a>
                	</li>
                	<li class="active"><a tabindex="0">1</a></li>
                	<li class="disabled">
                    	<a tabindex="-1">
                        	<span>
                            	<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 511.995 511.995"><path d="M381.039 248.62L146.373 3.287C142.29-.942 135.54-1.13 131.29 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995 130.956 493.954c-4.063 4.26-3.917 11.01.333 15.083a10.63 10.63 0 007.375 2.958 10.65 10.65 0 007.708-3.292L381.039 263.37c3.938-4.125 3.938-10.625 0-14.75z"/></svg>
                        	</span>
                    	</a>
                	</li>
            	</ul>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}