{% include "partials/header.twig" %}
<main class='main-content page' id="app">
    <div class="page-header">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a href="">Главная</a> / Меню</nav>
            <div class="all-page-title">
                <h1>Меню</h1>
            </div>
        </div>
    </div>
    <div class="page_menu-content">
        <img class="page_menu-decore_lt" src="./assets/images/menu-decore_lt.png" alt="">
        <img class="page_menu-decore_rt" src="./assets/images/menu-decore_rt.png" alt="">
        <div class="container">
            <a href="" class="page_menu-item">
                <div class="page_menu-item-img"><img src="./assets/images/menu_del.png" alt=""></div>
                <div class="page_menu-item-name">Меню доставки</div>
            </a>
            <a href="" class="page_menu-item">
                <div class="page_menu-item-img"><img src="./assets/images/menu_main.png" alt=""></div>
                <div class="page_menu-item-name">Основное меню</div>
            </a>
            <a href="" class="page_menu-item">
                <div class="page_menu-item-img"><img src="./assets/images/menu_banquet.png" alt=""></div>
                <div class="page_menu-item-name">БАНКЕТНОЕ МЕНЮ</div>
            </a>
            <a href="" class="page_menu-item">
                <div class="page_menu-item-img"><img src="./assets/images/menu_funeral.png" alt=""></div>
                <div class="page_menu-item-name">Поминальное меню</div>
            </a>
        </div>
        <img class="page_menu-decore_lb" src="./assets/images/menu-decore_lb.png" alt="">
        <img class="page_menu-decore_rb" src="./assets/images/menu-decore_rb.png" alt="">
    </div>
</main>
{% include "partials/footer.twig" %}