{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="main-slider">
	<div class="main-slick">
		<div class="main-slick-content">
			<img src="./assets/images/slide.jpg" alt="">
		</div>
	</div>
</div>
<div class="main-page-tiggers">
	<div class="container">
		<div class="main-page-trigger">
			<div class="main-page-trigger-img"><img src="./assets/images/trigger-1.png" alt=""></div>
			<div class="main-page-trigger-text">Самые вкусные хинкали в городе</div>
		</div>
		<div class="main-page-trigger">
			<div class="main-page-trigger-img"><img src="./assets/images/trigger-2.png" alt=""></div>
			<div class="main-page-trigger-text">Готовим шашлык из самого свежего мяса</div>
		</div>
		<div class="main-page-trigger">
			<div class="main-page-trigger-img"><img src="./assets/images/trigger-3.png" alt=""></div>
			<div class="main-page-trigger-text">А еще у нас выпечка вкусная</div>
		</div>
	</div>
</div>
<div class="activity-block">
	<div class="container">
		<div class="main-page-title">Мероприятия</div>
		<div class="activity-block-inner">
			<div class="activity-item">
				<img src="./assets/images/merop-1.jpg" alt="">
				<div class="activity-hidden-block">
					<div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
					<div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
				</div>
			</div>
			<div class="activity-item">
				<img src="./assets/images/merop-2.jpg" alt="">
				<div class="activity-hidden-block">
					<div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
					<div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
				</div>
			</div>
			<div class="activity-item">
				<img src="./assets/images/merop-3.jpg" alt="">
				<div class="activity-hidden-block">
					<div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
					<div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popular-dishes">
	<div class="container">
		<div class="all-page-title">Популярные блюда</div>
		<div class="popular-slick">
			{% for item in 0..4 %}
				<div class="popular-slick-content">				
					<div class="popular-item">
						<div class="popular-item-img"><img src="./assets/images/product.png" alt=""></div>
						<div class="popular-item-inner">
							<div class="popular-item-name">Хинкали жареные «Традиционные»</div>
							<div class="popular-item-info">
								<div class="popular-item-price">350 р.</div>
								<button class="popular-item-button add-to-cart">В корзину</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="delivery-menu">
	<div class="container">
		<div class="main-page-title">МЕНЮ ДОСТАВКИ</div>
		<div class="delivery-menu-content">
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-1.svg" alt=""></div>
				<div class="delivery-menu-item-name">Хинкали</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-2.svg" alt=""></div>
				<div class="delivery-menu-item-name">Салаты</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-3.svg" alt=""></div>
				<div class="delivery-menu-item-name">Холодные закуски</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-4.svg" alt=""></div>
				<div class="delivery-menu-item-name">Горячие закуски</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-5.svg" alt=""></div>
				<div class="delivery-menu-item-name">Супы</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-6.svg" alt=""></div>
				<div class="delivery-menu-item-name">Шашлыки</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-7.svg" alt=""></div>
				<div class="delivery-menu-item-name">Гарниры</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-8.svg" alt=""></div>
				<div class="delivery-menu-item-name">Выпечка</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-9.svg" alt=""></div>
				<div class="delivery-menu-item-name">Десерты</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-10.svg" alt=""></div>
				<div class="delivery-menu-item-name">Фрукты</div>
			</a>
			<a href="" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="./assets/images/menu-11.svg" alt=""></div>
				<div class="delivery-menu-item-name">Напитки</div>
			</a>
		</div>
	</div>
</div>
<div class="contacts-block">
	<div class="container">
		<div class="contacts-block-info">
			<div class="main-page-title">Наши контакты</div>
			<div class="contacts-block-item">
				<div class="contacts-block-item-name">Время работы ресторана:</div>
				<div class="contacts-block-item-value">ресторан: с 9.00 – 00.00 ежедневно</div>
				<div class="contacts-block-item-value">Время работы доставки:</div>
				<div class="contacts-block-item-value">с 09-00 до 23-00</div>
			</div>
			<div class="contacts-block-item">
				<div class="contacts-block-item-name">Адрес:</div>
				<div class="contacts-block-item-value">Ликино-Дулево, ул. Калинина, 5 </div>
			</div>
			<div class="contacts-block-item">
				<div class="contacts-block-item-name">Электронная почта:</div>
				<div class="contacts-block-item-value"><a href="">u-podvorie@mail.ru</a></div>
			</div>
			<div class="contacts-block-callback"><a href="">Заказать звонок</a></div>
		</div>
		<div class="contacts-block-map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab02ae4936efc23e137a1f497ec3c4a69a951faca4e8cb81b3b797c9b2b2b1ac3&amp;width=100%25&amp;height=409&amp;lang=ru_RU&amp;scroll=true"></script></div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}