{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            
            <div class="all-page-title">
                <h1>Бронирование</h1>
                {{ function('woocommerce_breadcrumb') }}
            </div>
        </div>
    </div>
    <reservation></reservation>
</main>
{% include "partials/footer.twig" %}