{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a href="">Главная</a> / О ресторане</nav>
            <div class="all-page-title">
                <h1>О ресторане</h1>
            </div>
        </div>
    </div>
    <div class="about-content">
        <div class="container">
            <div class="about-content-inner">
                <div class="about-content-row">
                    <div class="about-content-info">
                        <div class="about-content-title">О НАШЕМ РЕСТОРАНЕ</div>
                        <div class="about-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet augue vestibulum, commodo arcu et, gravida neque. Cras finibus diam non sapien scelerisque rhoncus. Nunc facilisis aliquam iaculis. Nulla volutpat id nisl id rutrum. Nullam quis bibendum tortor. Aliquam non finibus dui, eget iaculis metus. In efficitur, justo sed tristique sodales, urna urna volutpat orci, eget scelerisque nulla tortor et ligula. Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula. Quisque rutrum tristique velit eu ultricies.Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula.</p>
                        </div>
                    </div>
                    <div class="about-content-image"><img src="./assets/images/about1.jpg" alt=""></div>
                </div>
                <div class="about-content-row">
                    <div class="about-content-info">
                        <div class="about-content-title">О НАШЕМ РЕСТОРАНЕ</div>
                        <div class="about-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet augue vestibulum, commodo arcu et, gravida neque. Cras finibus diam non sapien scelerisque rhoncus. Nunc facilisis aliquam iaculis. Nulla volutpat id nisl id rutrum. Nullam quis bibendum tortor. Aliquam non finibus dui, eget iaculis metus. In efficitur, justo sed tristique sodales, urna urna volutpat orci, eget scelerisque nulla tortor et ligula. Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula. Quisque rutrum tristique velit eu ultricies.Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula.</p>
                        </div>
                    </div>
                    <div class="about-content-image"><img src="./assets/images/about2.jpg" alt=""></div>
                </div>
            </div>
            <div class="about-content-partners">
            	<div class="about-content-name">Наши партнеры</div>
            	<div class="about-content-partners-content">
                {% for item in 0..2 %}
                <div class="about-partners-item"><img src="./assets/images/partner.jpg" alt=""></div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="activity-block">
        <div class="container">
        	<div class="about-content-name">Мероприятия</div>
            <div class="activity-block-inner">
                <div class="activity-item">
                    <img src="./assets/images/merop-1.jpg" alt="">
                    <div class="activity-hidden-block">
                        <div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
                        <div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
                    </div>
                </div>
                <div class="activity-item">
                    <img src="./assets/images/merop-2.jpg" alt="">
                    <div class="activity-hidden-block">
                        <div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
                        <div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
                    </div>
                </div>
                <div class="activity-item">
                    <img src="./assets/images/merop-3.jpg" alt="">
                    <div class="activity-hidden-block">
                        <div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
                        <div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}