{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            {{ function('woocommerce_breadcrumb') }}
            <div class="all-page-title">
                <h1>Доставка</h1>
            </div>
        </div>
    </div>
    <div class="delivery-area-content">
        <div class="container">
            <div class="delivery-area-list">
				 <div class="delivery-area-list-title">ЗОНА ДОСТАВКИ</div>
            	<ul>
            		<li><span>Зона № 1 доставка бесплатно при сумме заказа от 400 рублей (при меньшей сумме-доставка составит 70 рублей).</span></li>
            		<li><span>Зона № 2 доставка бесплатно при сумме заказа от 700 рублей (при меньшей сумме-доставка составит 150 рублей).</span></li>
            		<li><span>Зона № 3 стоимость доставки определяется менеджером заказа.</span></li>
            	</ul>
            </div>
            <div class="delivery-area-map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad89904db653de7ae6d21d53baa266cbcdbf3d95dd712fa56e348242bf3b039e8&amp;source=constructor" width="100%" height="563" frameborder="0"></iframe>
            </div>
            <div class="delivery-area-text">
            	<h2>Условия доставки</h2>
            	<p>Дорогие гости! Мы осуществляем бесплатную доставку заказов по указанным населенным пунктам, при условии минимального заказа на следующую сумму:</p>
            	<table>
            		<tbody>
            			<tr>
            				<td>Населенный пункт</td>
            				<td>Минимальный заказ</td>
            			</tr>
            			<tr>
            				<td>Ликино-Дулево</td>
            				<td>450 руб.</td>
            			</tr>
            			<tr>
            				<td>Орехово-Зуево</td>
            				<td>450 руб.</td>
            			</tr>
            			<tr>
            				<td>Нажицы, Дрезна, Малиново, Щербинино</td>
            				<td>450 руб.</td>
            			</tr>
            		</tbody>
            	</table>
            	<h2>Самовывоз</h2>
            	<p>Вы можете забрать ваш заказ самостоятельно по адресу:  Ликино-Дулево, ул. Калинина, 5 </p>
            	<h2>Оплата</h2>
            	<p>Оплата осуществляется в момент заказа (или самовывоза) наличными или банковской картой курьеру.</p>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}