{% include "partials/header.twig" %}
<main class='main-content page'>
	<div class="page-header">
		<div class="container">
			<nav class="woocommerce-breadcrumb"><a href="">Главная</a> / Меню доставки</nav>
			<div class="all-page-title"><h1>МЕРОПРИЯТИЯ</h1></div>
			
		</div>
	</div>
	<div class="activity-block">
	<div class="container">
		<div class="activity-block-slick">
			<div class="activity-item">
				<img src="{{ site.theme.link }}/assets/images/merop-1.jpg" alt="">
				<div class="activity-hidden-block">
					<div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
					<div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
				</div>
			</div>
			<div class="activity-item">
				<img src="{{ site.theme.link }}/assets/images/merop-2.jpg" alt="">
				<div class="activity-hidden-block">
					<div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
					<div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
				</div>
			</div>
			<div class="activity-item">
				<img src="{{ site.theme.link }}/assets/images/merop-3.jpg" alt="">
				<div class="activity-hidden-block">
					<div class="activity-hidden-block-title">Morbi commodo ornare luctus.</div>
					<div class="activity-hidden-block-text">Morbi commodo ornare luctus. Cras placerat, diam nec auctor feugiat, sem ligula feugiat elit, vitae faucibus felis ante id dui. In iaculis suscipit tincidunt. Ut at risus congue, congue lectus eu, facilisis augue. In et varius dolor, sit amet viverra magna. Praesent id ante in sapien gravida finibus. Donec id enim vel arcu dictum pretium.</div>
				</div>
			</div>
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}