{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-content container">
        {{ post.get_content|shortcodes }}
    </div>
</main>
{% include "partials/footer.twig" %}