{% include "partials/header.twig" %}
<main class='main-content page' id="app">
    <div class="page-header">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a href="">Главная</a> / Меню доставки</nav>
            <div class="all-page-title">
                <h1>МЕНЮ ДОСТАВКИ</h1>
            </div>
        </div>
    </div>
    <div class="product_single-page">
        <div class="container">
            <div class="product-content-top">
                <div class="product-content-img"><img src="./assets/images/product_full.png" alt=""></div>
                <div class="product-content-top-info">
                    <div class="product-content-info-name"><h2>Хинкали жареные с бараниной</h2></div>
                    <div class="product-content-info-composition">
                        <p>Фарш баранина, лук, специи, перец.</p>
                        <p>Вес блюда: 80 г.</p>
                    </div>
                    <div class="popular-item-price">65 р.</div>
                    <div class="product-content-info-add-to-cart">
                        <div class="product-quantity">
                            <button onclick="$(this).next()[0].stepDown();">
                                <svg width="14" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1h13.5" stroke="#000"/></svg>
                            </button>
                            <input type="number" min="1" value="1" class="inputNumber">
                            <button onclick="$(this).prev()[0].stepUp();">
                                <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7h13.5M7 0v13.5" stroke="#000"/></svg>
                            </button>
                        </div>
                        <button class="popular-item-button add-to-cart">В корзину</button>
                    </div>
                </div>
            </div>
            <div class="product-content-bottom">
                <div class="choose-buttons">
                    <div class="choose-button active">Описание</div>
                    <div class="choose-button">Состав</div>
                </div>
                <div class="tab-content">
                    <div class="tab-content-inner" id="a1">
                        <p>Цена указана за 1 шт.</p>
                        <p>Минимальный заказ от 3-х/шт.</p>
                    </div>
                    <div class="tab-content-inner" id="a2">
                        <p>Фарш баранина, лук, специи, перец.</p>
                        <p>Вес блюда: 80 г.</p>
                    </div>
                </div>
            </div>
            <div class="relative-products">
                <div class="relative-products-title">ПОХОЖИЕ ТОВАРЫ</div>
                <div class="popular-slick">
                {% for item in 0..4 %}
                    <div class="popular-slick-content">             
                        <div class="popular-item">
                            <div class="popular-item-img"><img src="./assets/images/product.png" alt=""></div>
                            <div class="popular-item-inner">
                                <div class="popular-item-name">Хинкали жареные «Традиционные»</div>
                                <div class="popular-item-info">
                                    <div class="popular-item-price">350 р.</div>
                                    <button class="popular-item-button add-to-cart">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}