{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            {{ function('woocommerce_breadcrumb') }}
            <div class="all-page-title">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
    </div>
    <div class="photo-gallery_content">
        <div class="container">

                <div class="photo-gallery_content-inner">
                    {% for image in gallery %}
                        <a data-fancybox="g1" class="gallery-item" href="{{ Image(image) }}">
                            <img src="{{ Image(image) }}" />
                        </a>
                    {% endfor %}
                </div>
   
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}