{% include "partials/header.twig" %}
<main class='main-content page' id="app">
    <div class="page-header">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a href="">Главная</a> / 20 декабря 2019</nav>
            <div class="all-page-title">
                <h1>Фотоархив 20 декабря 2019</h1>
            </div>
        </div>
    </div>
    <div class="photo-gallery_content">
        <div class="container">
            <div class="photo-gallery_content-inner"> 
                <a fancybox="" class="gallery-item" href="">
                    <img src="./assets/images/gallery.jpg" alt="">
                </a>
                <a fancybox="" class="gallery-item" href="">
                    <img src="./assets/images/about2.jpg" alt="">
                </a>
            </div>
            <div class="photo-gallery_content-inner">
                <a fancybox="" class="gallery-item" href="">
                    <img src="./assets/images/about2.jpg" alt="">
                </a>
                <a fancybox="" class="gallery-item" href="">
                    <img src="./assets/images/gallery.jpg" alt="">
                </a>
            </div>
            <div class="photo-gallery_content-inner">
                <a fancybox="" class="gallery-item" href="">
                    <img src="./assets/images/about2.jpg" alt="">
                </a>
                <a fancybox="" class="gallery-item" href="">
                    <img src="./assets/images/gallery.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}