@media(max-width: 1220px) {
    .main-header-menu-container ul li {
        margin-right: 17px;
    }

    .main-header-menu-container ul li a {
        font-size: 13px;
    }
}

@media(max-width: 1100px) {
    .footer-content .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .footer-content-center {
        text-align: center;
        width: 100%;
        order: -1;
        margin-bottom: 25px;
    }

    .footer-menu-container ul {
        justify-content: center;
    }

    .popular-item {
        padding: 20px 9px;
    }

    .activity-item {
        padding: 0 10px;
    }
}

@media(max-width: 1023px) {
    .main-header.desktop {
        display: none;
    }

    .main-header.mobile {
        display: block;
    }

    .main-header-top {
        padding: 8px 0 8px;
        background-color: #FFC844;
    }

    .main-header-text {
        color: #000000;
        width: 100%;
        text-align: center;
        padding-left: 0;
        background-image: none;
    }

    .main-header-middle {
        padding: 8px 0;
        position: relative;
    }

    .main-header-logo {
        text-align: center;
        transform: inherit;
    }

    .main-header-bottom {
        position: relative;
        padding: 7px 0 11px;
        font-size: 0;
        height: 53px;
    }

    .main-header-bottom .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 35px;
        align-items: center;
    }

    .main-header-contacts {
        padding-left: 28px;
        position: absolute;
        left: calc(50% - 246px);
    }

    .main-header-phones {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .main-header-phone:first-child {
        margin-bottom: 0;
        position: relative;
    }

    .main-header-phone {
        margin-right: 20px;
    }

    .main-header-cart {
        margin-right: 0;
    }

    .btn-hamburger {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        z-index: 9;
        min-width: 280px;
        width: 100%;
        top: 33px;
        left: -100%;
        right: 0;
        bottom: 0;
        overflow: auto;
        background-color: #391E25;
        font-size: 0;
        transition: 1s ease;
        padding: 35px 30px;
    }

    .mobile-menu .btn-hamburger {
        top: 27px;
        margin-top: 0;
    }

    .mobile-menu .btn-hamburger span:before,
    .mobile-menu .btn-hamburger span:after {
        background: #fff;
        height: 2px;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-header {
        margin-bottom: 14px;
    }

    a.main-header-lk {
        display: flex;
        align-items: center;
        width: 200px;
        text-decoration: none;
    }

    a.main-header-lk span {
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        margin-left: 15px;
    }

    .mobile-menu-content {
        margin-bottom: 20px;
    }

    .mobile-menu-content ul {
        padding: 0;
        margin: 0;
    }

    .mobile-menu-content ul li {
        margin-bottom: 10px;
    }

    .mobile-menu-content ul li a {
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .mobile-menu .main-header-phone {
        margin-bottom: 5px;
    }

    .mobile-menu .main-header-phone:first-child:before {
        display: none;
    }

    .mobile-menu .main-header-phone a {
        color: #fff;
    }

    .about-content-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .about-content-image {
        width: 100%;
    }

    .about-content-row:nth-child(2) {
        text-align: left;
    }

    .cart-table.desktop {
        display: none;
    }

    .cart-table.mobile {
        display: block;
        margin-bottom: 20px;
    }

    .account-content .container {
        display: block;
    }

    .account-left {
        border-right: none;
        width: auto;
        margin-bottom: 25px;
    }

    .account-left-desktop {
        display: none;
    }

    .account-left-mobile {
        display: block;
    }

    .account-right {
        padding-left: 0;
        width: 100%;
    }

    .address-item {
        border: none;
        display: block;
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        margin-bottom: 0;
        margin-top: -1px;
    }

    .address-item-value {
        border-right: none;
        width: 100%;
    }

    .address-item-edit {
        width: 100%;
        justify-content: flex-start;
        padding-right: 0;
    }
}

@media(max-width: 840px) {
    .cart .page-header {
        padding: 45px 0 40px;
    }

    .cart-steps {
        flex-direction: column;
    }

    .next-step {
        margin: 10px 0 20px;
        transform: rotate(90deg);
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .product-content-img {
        width: 290px;
    }

    .product-content-top-info {
        width: calc(100% - 320px);
    }

    .main-page-tiggers .container {
        justify-content: center;
    }

    .main-page-trigger {
        width: 50%;
        margin: 10px 0;
    }

    .reservation-content .container {
        flex-direction: column-reverse;
    }

    .reservation-left {
        max-width: 100%;
        width: 100%;
    }

    .reservation-right {
        width: 100%;
    }

    .contacts-content-top-item {
        margin-bottom: 25px;
    }

    .contacts-content-top-item:last-child {
        margin-bottom: 0px;
    }

    .page_cart-content form {
        justify-content: center;
    }

    .cart-left {
        margin-right: 0;
        width: 100%;
    }

    .refresh-cart {
        display: block;
        margin: 0 auto 25px;
        text-align: center;
        width: 234px;
    }
}

@media(max-width: 765px) {
    .contacts-block-info {
        width: 100%;
        margin-bottom: 25px;
    }

    .contacts-block-map {
        width: 100%;
    }
}

@media(max-width: 720px) {
    .main-header-bottom .container {
        justify-content: space-between;
    }

    .main-header-contacts {
        position: relative;
        left: auto;
    }

    .main-header-bottom .main-header-phone:last-child {
        display: none;
    }

    .history-content-inner.desktop {
        display: none;
    }

    .history-content-inner.mobile {
        display: block;
    }
}

@media(max-width: 680px) {
    .page_menu-content .container {
        justify-content: center;
    }

    a.page_menu-item {
        text-decoration: none;
        margin: 13px 5px;
    }

    .page_menu-item-name {
        font-size: 22px;
        width: 280px;
    }

    img.page_menu-decore_lt {
        top: -35px;
        width: 84px;
    }

    img.page_menu-decore_rt {
        top: -30px;
        width: 69px;
    }

    img.page_menu-decore_rb {
        bottom: 65%;
        width: 96px;
    }

    img.page_menu-decore_lb {
        bottom: 43%;
        width: 110px;
    }

    .product-content-img {
        width: 100%;
        text-align: center;
    }

    .product-content-top-info {
        width: 100%;
    }
}

@media(max-width: 640px) {
    .footer-content .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-menu-container ul {
        grid-template-columns: repeat(2, 115px);
    }

    .footer-menu-container ul li {
        list-style: none;
        text-align: left;
    }

    .footer-content-left {
        width: 206px;
        margin-bottom: 22px;
    }

    .under-footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        order: -1;
    }

    .delivery-menu-content {
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
        grid-gap: 0;
    }

    a.delivery-menu-item {
        height: 147px;
        padding: 15px 5px;
    }
    .single-product .pad-50 {
    padding: 10px 0 20px;
}

}

@media(max-width: 540px) {
    .main-page-trigger {
        width: 100%;
        margin: 16px 0;
    }

    .delivery-area-text table tbody tr td {
        font-size: 16px;
        line-height: 22px;
    }

    .delivery-area-text p {
        font-size: 16px;
        line-height: 26px;
    }

    .checkout-form {
        padding: 18px 0px 0px;
        background-color: #fff;
    }

    .checkout-form-content {
        padding: 25px 10px;
    }

    .checkout-form form {
        background-color: #f8f8f8;
        padding-bottom: 24px;
    }

    .checkout-form-row label {
        width: 100%;
    }

    .checkout-total table tr td:first-child {
        padding-right: 10px;
    }

    .checkout-form .cart-right-delivery {
        padding: 0 5px;
    }

    .checkout-btn {
        max-width: 260px;
    }
}

@media(max-width: 480px) {
    .main-header-logo svg {
        width: 174px;
        height: 46px;
    }

    .main-header-logo a {
        width: 174px;
        height: 46px;
    }

    .main-header-callback {
        display: none;
    }

    .btn-hamburger {
        height: 36px;
        width: 30px;
        top: calc(50% - 18px);

    }

    .btn-hamburger.active span:before {
        top: 16px;
    }

    .product-content-info-name h2 {
        font-size: 20px;
        line-height: 27px;
    }

    .account-right-form label {
        display: block;
    }

    .account-right-form label p {
        margin-bottom: 10px;
    }

    .account-right-form label input {
        width: 100%;
    }
    .gallery-item {
        width: calc(50% - 10px);
    }
}

@media(max-width: 460px) {
    a.delivery-menu-item:nth-child(2n) {
        background-color: #fff;
    }

    a.delivery-menu-item:nth-child(2),
    a.delivery-menu-item:nth-child(3),
    a.delivery-menu-item:nth-child(6),
    a.delivery-menu-item:nth-child(7),
    a.delivery-menu-item:nth-child(10),
    a.delivery-menu-item:nth-child(11),
        {
        background-color: #F5F5F5;
    }

    .woocommerce-breadcrumb {
        margin-bottom: 20px;
    }

    .all-page-title,
    .all-page-title h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .popular-item-price {
        font-size: 28px;
        min-width: 126px;
        padding: 3px 0 3px;
        text-align: center;
    }

    .product-content-top-info {
        padding: 15px 18px 25px;
    }

    .relative-products-title {
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 20px;
    }

    .cart-table-item-total {
        margin-top: 15px;
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
    }

    .cart-table-item-total .cart-table-item-info-name {
        margin-right: 20px;
    }

    .page_thanks-content-title {
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 30px;
    }
}

@media(max-width: 377px) {
    .main-header-text {
        max-width: 200px;
        margin: 0 auto;
    }

    .mobile-menu {
        top: 0;
    }
}

@media(max-width: 340px) {
    .contacts-content-top-item-value {
        font-size: 15px;
    }

    .contacts-content {
        padding: 0px 0 50px;
    }
}