.footer-content {
    padding: 22px 0 40px;
}

.footer-content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-content-left {
    width: 206px;
}

.footer-phones {
    margin-bottom: 7px;
}

.footer-phone a {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.social-name {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.socials a {
    margin: 0 13px;
}
.socials a.facebook svg path,
.socials a.vk svg path,
.socials a.ok svg path{
    transition: 0.3s ease;
}
.socials a.facebook:hover svg path{
    fill: #4267b2;
}
.socials a.vk:hover svg path{
    fill: #4a76a8;
}
.socials a.ok:hover svg path:first-child{
    fill: #e47d08;
}
.footer-content-center {
    text-align: center;
    width: calc(100% - 260px - 206px);
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-menu-container ul {
    display: grid;
    grid-template-columns: repeat(4, 115px);
    grid-gap: 15px 50px;
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-menu-container ul li {
    list-style: none;
    width: 115px;
}

.footer-menu-container ul li a {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(to right, #ffc844, #ffc844 50%, #fff 50%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.footer-menu-container ul li a:hover{
    background-position: 0 100%;
}
.footer-content-right {
    width: 260px;
    margin-bottom: 20px;
}

.footer-text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-callback {
    text-align: center;
}

.footer-callback a {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 22px;
}

.under-footer {
    background-color: #fff;
    padding: 5px 0 20px;
    position: relative;
}

.under-footer:before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    bottom: 100%;
    position: absolute;
    background-image: url(../images/bottom-decore.png);
    background-position: 50% 0%;
}

.under-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.under-footer-link a {
    font-size: 12px;
    line-height: 25px;
    color: #391E25;
    text-decoration: none;
}

.copyright {
    font-size: 12px;
    line-height: 25px;
    color: #391E25;
}