header.main-header {
    background-color: #fff;
    position: relative;
}

.main-header.mobile {
    display: none
}

.main-header-top {
    padding: 19px 0 7px
}

.main-header-top .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.main-header-text {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    width: 240px;
    padding-left: 40px;
    background-image: url(../images/fork.png);
    background-repeat: no-repeat;
    background-position: 0 50%
}

.main-header-logo {
    transform: translate(37px, 0px)
}

.main-header-logo a {
    display: inline-block
}

.main-header-contacts {
    display: flex;
    align-items: center
}

.main-header-phones {
    width: 170px
}

.main-header-phone:first-child {
    margin-bottom: 5px;
    position: relative
}

.main-header-phone:first-child:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    left: -28px;
    top: 3px
}

.main-header-phone a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000
}

.main-header-phone a span {
    font-size: 14px;
    line-height: 14px;
    color: #d29100
}

.main-header-callback a {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    background: #ffc844;
    border: 1px solid #ffc844;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 7px 11px;
    width: 170px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 200, 68, 0);
    transition: 0.3s ease;
}
.main-header-callback a:hover {
    box-shadow: 0 0 15px rgba(255, 200, 68, 1);
}
.main-header-bottom {
    position: relative;
    padding: 7px 0 11px;
    font-size: 0
}

.main-header-bottom:before {
    content: "";
    display: block;
    z-index: 1;
    width: 100%;
    height: 20px;
    top: 100%;
    position: absolute;
    background-image: url(../images/header-decore.png);
    background-position: 50% 100%
}

.main-header-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.main-header-menu-container ul {
    padding: 0;
    margin: 0
}

.main-header-menu-container ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px
}

.main-header-menu-container ul li a {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    background: linear-gradient(to right, #ffc844, #ffc844 50%, #000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 202% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.main-header-menu-container ul li a:hover{
    background-position: 0 100%;
}
.main-header-menu-container ul li:nth-child(2),
.main-header-menu-container ul li:nth-child(3) {
    margin-right: 22px
}

.main-header-menu-container ul li.current-menu-item a {
    padding: 4px 7px;
    background: #ffc844;
    border-radius: 50px;
    -webkit-text-fill-color: #000;
}

.user-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.main-header-cart {
    margin-right: 25px;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none
}